<html>
{% load static %}
    <head>
	
	</head>
<body>
<style>
html {
width: 100%;
height: 100%;
}
body{
	overflow: hidden;
}
</style>
  

<div id="container1312" ></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.6.2/dat.gui.min.js"></script>



	



	<script src="{% static 'js/jquery.min.js' %}"> </script>
	<script src="{% static 'js/three.min.js' %}"> </script>
	<script src="{% static 'js/Stats.min.js' %}"> </script>
	<script src="{% static 'js/szeasz.js' %}"></script>
	<script src="{% static 'js/loader.js' %}"></script>
	<script src="{% static 'js/off.js' %}"></script>

</body>
</html>