{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<body> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">




	<div class="row b1">
		{% for product in products %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>

				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Megveszem!</button>&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="{% url 'statikus' %}"> <button class="btn btn-outline-secondary gomb">Info</button></a>
				
				<h4 style="display: inline-block; float: right;"><strong>{{product.price}} € </strong></h4>

			</div>
		</div>

		{% endfor %}
	</div>
</body>
{% endblock content %}
